Source: chrome-batch-token-signing
Section: web
Priority: extra
Maintainer: Nortal
Build-Depends:
 qtbase5-dev,
 debhelper (>= 7),
 libpcsclite-dev,
 python,
 xvfb,
 xauth
Standards-Version: 3.9.8
Homepage: https://github.com/nortal/chrome-batch-token-signing

Package: chrome-batch-token-signing
Architecture: any
Depends: opensc, ${shlibs:Depends}, ${misc:Depends}
Description: Estonian ID Card signing for Chrome and Firefox
 Chrome and Firefox extension and native messaging client.

Package: chrome-batch-token-signing-dbg
Architecture: any
Section: debug
Depends: chrome-batch-token-signing (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for Estonian ID Card Chrome signing
 Chrome signing native messaging client debug information

Package: chrome-batch-token-signing-policy
Architecture: all
Depends: chrome-batch-token-signing, ${shlibs:Depends}, ${misc:Depends}
Description: Estonian ID Card signing for Chrome and Firefox
 Chrome and Firefox extension and native messaging client.
